@page "/Articles"
@using Helpers
@inject NavigationManager NavigationManager

<SideMenu></SideMenu>
<div class="col-lg-10">
    <div>
        <h2>Статьи</h2>
        <div class="d-flex">
            <input class="form-control me-2" type="text" placeholder="Поиск" @bind="@SerchString" @bind:event="oninput"
                   @onkeydown="KeyPush">
            <button class="btn btn-outline-success" type="button" @onclick="@(async () => await GetFiltredPosts())">
                Поиск
            </button>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th class="col-10" scope="col">Название</th>
            <th class="col" scope="col">Опубликовано</th>
            <th class="col" scope="col">Дата @SortArrowHtml()</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var post in PostsData?.Data ?? Enumerable.Empty<PostIndexModel>())
        {
            <tr class="post">
                <td>
                    <span class="text-body fw-normal c-pointer"
                          @onclick="@(() => OpenArticle(post.Slug))">
                        @post.Title
                    </span>
                </td>
                <td class="text-center @PublishCssColor(post.IsPublished)">@Publish(post.IsPublished) </td>
                <td>
                    <span class="text-body"> @post.DateCreated.ToShortDateString()</span>
                </td>
            </tr>
        }

        </tbody>
    </table>

    <PagesBar Parametrs="@PageParametrs" OnClickCallback="@GetFiltredPosts"></PagesBar>
</div>

@code {

    [Inject]
    public IBlogClient? BlogClient { get; set; }

    private FiltredDataModel<PostIndexModel>? PostsData { get; set; }
    private PageParametrs PageParametrs { get; } = new();
    private DateState DateSort { get; set; } = DateState.DateDesc;
    private string? SerchString { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetFiltredPosts(PageParametrs.CurrentPage);
    }

    private async Task GetFiltredPosts(int page = 1)
    {
    //TODO make uri
        PageParametrs.CurrentPage = page;

        string url = UrlBuilder.Article.GetAllArticlesByParametr(PageParametrs, DateSort, serchString: SerchString);
        try
        {
            PostsData = await BlogClient?.GetAsync<FiltredDataModel<PostIndexModel>>(url)!;
            PageParametrs.TotalItems = PostsData.TotalItems;
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

    private void OpenArticle(string slug)
    {
        NavigationManager.NavigateTo($"/admin/Article/{slug}");
    }

    private async Task KeyPush(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            await GetFiltredPosts();
        }
    }


    private RenderFragment SortArrowHtml()
    {
        if (DateSort == DateState.DateDesc)
        {
            return
                @<i class="bi bi-caret-down-fill c-pointer" @onclick="@SortByDataClick"></i>
                ;
        }
        else
        {
            return
                @<i class="bi bi-caret-up-fill c-pointer" @onclick="@SortByDataClick"></i>
                ;
        }
    }

    async Task SortByDataClick()
    {
        DateSort = DateSort == DateState.DateDesc ? DateState.DateAsc : DateState.DateDesc;
        await GetFiltredPosts(PageParametrs.CurrentPage);
    }

        @* Publish *@

    private static string Publish(bool isPublished)
    {
        return isPublished ? "Yes" : "No";
    }

    private static string PublishCssColor(bool isPublished)
    {
        return isPublished ? "text-success" : "text-danger";
    }

}