@page "/Article/{Slug}"
@inject DialogService DialogService
@inject NavigationManager NavigationManager

<div class="d-flex col-lg-9 justify-content-evenly pb-3">
    <button type="button" class="btn btn-md btn-outline-primary" @onclick="GoToEditArticle">Редактировать </button>
    <button type="button" class="btn btn-md btn-outline-success" @onclick="PublishedArticle">Опубликовать</button>
    <button type="button" class="btn btn-md btn-outline-danger" @onclick="DeleteArticle">Удалить </button>
</div>
<div class="content col-lg-9 justify-content-between d-flex">
    <span class="fs-5 text-dark">
        Publication status:
        @if (Post != null)
        {
            <span class="@PublishCssColor(Post.IsPublished)">@Post.IsPublished.ToString()</span>
        }
    </span>
    <span class="fs-5">ID: @Post?.Id</span>
</div>
<hr>
<div class="content col-lg-9 ">
    @if (Message != null)
    {
        <span class="fs-5 text-success text-center">@Message</span>
    }
</div>
<div class="content col-lg-9 ">
    @if (Post != null)
    {
        <h2 class="fs-1">@Post.Title</h2>
        <div id="data-content"class="d-flex justify-content-between py-3">
            <div>Создано: <em>@Post.DateCreated.ToString("f")</em></div>
            <div>Обновлено: <em>@Post.DateCreated.ToString("f")</em></div>
        </div>
        <div id="content">
            @((MarkupString)Post.Content)
        </div>
        <hr>
        <div class="tags c-pointer">
            @foreach (var tag in Post.Tags)
            {
                <span class="badge bg-success position-relative p-2 me-2 mb-1">@tag</span>
            }
        </div>
    }
</div>

@code {
    private string? Message { get; set; }

    [Inject]
    public IBlogClient? BlogClient { get; set; }

    [Parameter]
    public string? Slug { get; set; }

    private PostDetailsModel? Post { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetArticle();
    }

    private async Task GetArticle()
    {
        if (BlogClient != null)
        {
            Post = await BlogClient.GetAsync<PostDetailsModel>($"/api/post/{Slug}");
        }
    }

    private void GoToEditArticle()
    {
        NavigationManager.NavigateTo($"Article/Edit/{Post.Id}");
    }

    private async Task PublishedArticle()
    {
        bool published;
        if (Post.IsPublished == false)
        {
            published = true;
            Message = "Статья Опубликована";
        }
        else
        {
            published = false;
            Message = "Статья Отозвана";
        }

        await BlogClient?.PublishAsync($"/api/post/{Post.Id}/publish?publish={published}")!;
        await GetArticle();
    }

    private async Task DeleteArticle()
    {
        var result = await DialogService.OpenAsync("Подтвердите действие.", ds =>
            @<div>
                <p class="fw-bolder">Вы дейтвительно хотите удалить данную статью?</p>
                <div class="row">
                    <div class="col-sm-12 justify-content-between d-flex">
                        <button class="btn btn-md btn-danger" type="button" @onclick="() => ds.Close(true)">Подтвердить</button>
                        <button class="btn btn-md btn-primary" type="button" @onclick="() => ds.Close(false)">Отмена</button>
                    </div>
                </div>
            </div>
            , new DialogOptions() { Width = "400px" });

        if (result != null && result == true)
        {
            await BlogClient?.DeleteAsync($"/api/post/{Post.Id}")!;
            NavigationManager.NavigateTo("/admin/Articles");
        }
    }

    private static string PublishCssColor(bool isPublished)
    {
        return isPublished ? "text-success" : "text-danger";
    }

}