@page "/admin/Articles"
@using Helpers
@* @page "/admin/Articles/{Page:int?}" *@

<SideMenu></SideMenu>
<div class="col-lg-10">
    <div>
        <h2>Статьи</h2>
        <div class="d-flex">
            <input class="form-control me-2" type="text" placeholder="Поиск" @bind="@SerchString" @bind:event="oninput"
                   @onkeydown="KeyPush">
            <button class="btn btn-outline-success" type="button"
                    @onclick="@(async ()=> await GetFiltredPosts())">
                Поиск
            </button>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="col-10" scope="col">Название</th>
                <th class="col" scope="col">Опубликовано</th>
                <th class="col" scope="col">Дата @SortArrowHtml()</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in PostsData?.Data ?? Enumerable.Empty<PostIndexModel>())
            {
                <tr class="post">
                    <td> <a href="/admin/Article/@post.Slug">@post.Title</a> </td>
                    <td class="text-center @PublishCssColor(post.IsPublished)">@Publish(post.IsPublished)</td>
                    <td>@post.DateCreated.ToShortDateString()</td>
                </tr>
            }

        </tbody>
    </table>

    <PagesBar Parametrs="@PageParametrs" OnClickCallback="@GetFiltredPosts"></PagesBar>
</div>

@code {
    [Inject]
    public IBlogClient? BlogClient { get; set; }

    public FiltredDataModel<PostIndexModel>? PostsData { get; set; }
    public PageParametrs PageParametrs { get; set; } = new PageParametrs();
    public DateState DateSort { get; set; } = DateState.DateDesc;
    public string? SerchString { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetFiltredPosts(PageParametrs.CurrentPage);
    }

    private async Task GetFiltredPosts(int page = 1)
    {
        //TODO make uri
        PageParametrs.CurrentPage = page;

        string url = UrlBuilder.Article.GetAllArticlesByParametr(PageParametrs, DateSort, serchString: SerchString);
        if (BlogClient != null)
        {
            PostsData = await
            BlogClient.GetAsync<FiltredDataModel<PostIndexModel>>(url);
            System.Console.WriteLine("--->" + url);
            PageParametrs.TotalItems = PostsData.TotalItems;
        }
    }

    private async Task KeyPush(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            await GetFiltredPosts();
        }
    }


    private RenderFragment SortArrowHtml()
    {
        if (DateSort == DateState.DateDesc)
        {
            return
    @<i class="bi bi-caret-down-fill c-pointer" @onclick="@SortByDataClick"></i>
    ;
        }
        else
        {
            return
    @<i class="bi bi-caret-up-fill c-pointer" @onclick="@SortByDataClick"></i>
    ;
        }
    }

    async Task SortByDataClick()
    {
        if (DateSort == DateState.DateDesc)
        {
            DateSort = DateState.DateAsc;
        }
        else
        {
            DateSort = DateState.DateDesc;
        }
        await GetFiltredPosts(PageParametrs.CurrentPage);
    }

    @* Publish *@
    private string Publish(bool isPublished)
    {
        return isPublished ? "Yes" : "No";
    }
    private string PublishCssColor(bool isPublished)
    {
        return isPublished ? "text-success" : "text-danger";
    }
}
