@page "/admin/Article/{slug}"

<div class="d-flex col-lg-9 justify-content-evenly pb-2">

    <button type="button" class="btn btn-md btn-outline-primary">Редактировать </button>
    <button type="button" class="btn btn-md btn-outline-success">Опубликовать </button>
    <button type="button" class="btn btn-md btn-outline-danger">Удалить </button>
</div>
<hr>
<div class="content col-lg-9 justify-content-center">
    <h2>@Slug</h2>
    @if (Post != null)
    {
        <h1>@Post.Title</h1>
        <em>@Post.Id</em>
        <em>@Post.DateCreated</em>
        <br>
        <h1>@Post.Content</h1>
        <br />
        <hr>
        <div class="tags c-pointer">
            @foreach (var tag in Post.Tags ?? Enumerable.Empty<string>())
            {
                <span class="badge bg-success position-relative p-2 me-2 mb-1">@tag</span>
            }
        </div>
    }
</div>

@code {
    [Inject]
    public IBlogClient? BlogClient { get; set; }
    [Parameter]
    public string Slug { get; set; }

    public PostDetailsModel? Post { get; set; }

    protected async override Task OnInitializedAsync()
    {
        if (BlogClient != null)
        {
            Post = await BlogClient.GetAsync<PostDetailsModel>($"/api/post/{Slug}");
        }
    }
}
