@page "/admin/Tags/TagsList"
@page "/admin/Tags"
@using Helpers
@inject DialogService DialogService

<SideMenu></SideMenu>
<div class="col-lg-10">
    @if (Message != null)
    {
        <span>@Message</span>
    }
    <h2>Теги</h2>
    <div class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Поиск" @bind="@SerchString" @bind:event="oninput"
            @onkeydown="KeyPush">
        <button class="btn btn-outline-success" type="button" @onclick="@(async()=>await GetFiltredTags())">
            Поиск
        </button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="col-10" scope="col">Название</th>
                <th class="col-2 text-center" scope="col">Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in TagsData?.Data ?? Enumerable.Empty<TagModel>())
            {
                <tr class="post">
                    <td>
                        @if (IdSelectedTag == item.Id)
                        {
                            <div class="d-flex input-group-sm">
                                <input type="text" class="fw-bolder form-control form-control-sm shadow-box-dis"
                            placeholder="Введите тег" value="@item.Name" @onkeydown="KeyPush1"
                            @oninput="@((ChangeEventArgs e) => NewTagName = e.Value.ToString())">
                                <button class="btn btn-sm btn-outline-secondary ms-2" type="button"
                            @onclick="CancelOperation">X</button>
                            </div>

                        }
                        else
                        {
                            <span class="tb-row fw-normal">@item.Name</span>
                        }
                    </td>
                    <td class="d-flex justify-content-end">
                        <button class="btn btn-sm btn-primary me-1" type="button"
                        @onclick="@(()=>ChangeName(item.Id))">Редактировать</button>
                        <button class="btn btn-sm btn-danger" type="button"
                        @onclick="@(()=>Delete(item.Id))">Удалить</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <PagesBar Parametrs="@PageParametrs" OnClickCallback="@GetFiltredTags"></PagesBar>
</div>

@code {
    Guid IdSelectedTag { get; set; } = Guid.Empty;

    string? NewTagName { get; set; }
    public string? Message { get; set; }
    [Inject]
    public IBlogClient? BlogClient { get; set; }
    [Inject]
    public IJSRuntime? JsRuntime { get; set; }

    public FiltredDataModel<TagModel>? TagsData { get; set; }
    public PageParametrs PageParametrs { get; set; } = new PageParametrs();

    public string? SerchString { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await GetFiltredTags();
    }

    private async Task GetFiltredTags(int page = 1)
    {
        PageParametrs.CurrentPage = page;
        PageParametrs.ItemPerPage = 5;
        var urlString = UrlBuilder.Tag.GetAllTagsByParametr(PageParametrs, SerchString);


        if (BlogClient != null)
        {
            TagsData = await
            BlogClient.GetAsync<FiltredDataModel<TagModel>>(urlString);
            PageParametrs.TotalItems = TagsData.TotalItems;
            System.Console.WriteLine("--->" + urlString);
        }
    }

    private async Task KeyPush(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            await GetFiltredTags();
        }
    }

    private async Task KeyPush1(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            System.Console.WriteLine("key down");
            if (string.IsNullOrWhiteSpace(NewTagName))
            {
                System.Console.WriteLine("IsNullOrWhiteSpace");
                IdSelectedTag = Guid.Empty;
                return;
            }

            if (BlogClient != null)
            {

                TagModel newTag = new TagModel()
                {
                    Id = IdSelectedTag,
                    Name = NewTagName
                };
                // fasle result
                var result = await BlogClient.PutAsync("api/tag", newTag);
                System.Console.WriteLine("--->" + "put");
                if (result)
                {
                    await GetFiltredTags(PageParametrs.CurrentPage);
                    IdSelectedTag = Guid.Empty;
                }

            }
        }
    }


    private async Task Delete(Guid id)
    {
        var result = await DialogService.OpenAsync("Подтвердите действие.", ds =>
    @<div>
        <p class="fw-bolder">Вы дейтвительно хотите удалить тег?</p>
        <div class="row">
            <div class="col-sm-12 justify-content-between d-flex">
                <button class="btn btn-md btn-primary" type="button" @onclick="()=>ds.Close(true)">Подтвердить</button>
                <button class="btn btn-md btn-primary" type="button" @onclick="()=>ds.Close(false)">Отмена</button>
            </div>
        </div>
    </div>
    , new DialogOptions() { Width = "400px" });

        if (result != null && result == true)
        {
            if (BlogClient != null)
            {
                var response = await BlogClient.DeleteAsync($"/api/Tag/{id}");
                if (response)
                {
                    Message = "tag deleted";
                }
                await GetFiltredTags(PageParametrs.CurrentPage);
            }
        }

    }

    private async Task ChangeName(Guid id)
    {
        IdSelectedTag = id;
    }

    private void CancelOperation()
    {
        IdSelectedTag = Guid.Empty;
    }


}
