@page "/admin/Tags/TagsList"
@page "/admin/Tags"
@using Helpers

<SideMenu></SideMenu>
<div class="col-lg-10">
    <h2>Теги</h2>
    <div class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Поиск" @bind="@SerchString" @bind:event="oninput"
            @onkeydown="KeyPush">
        <button class="btn btn-outline-success" type="button"
            @onclick="@(async()=>await GetFiltredTags())">Поиск</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="col-11" scope="col">Название</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in TagsData?.Data ?? Enumerable.Empty<TagModel>())
            {
                <tr class="post">
                    <td> <a>@item.Name</a> </td>
                </tr>
            }
        </tbody>
    </table>
    <PagesBar Parametrs="@PageParametrs" OnClickCallback="@GetFiltredTags"></PagesBar>
</div>

@code {
    [Inject]
    public IBlogClient? BlogClient { get; set; }

    public FiltredDataModel<TagModel>? TagsData { get; set; }
    public PageParametrs PageParametrs { get; set; } = new PageParametrs();

    public string? SerchString { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await GetFiltredTags();
    }

    private async Task GetFiltredTags(int page = 1)
    {
        PageParametrs.CurrentPage = page;
        var urlString = UrlBuilder.Tag.GetAllTagsByParametr("api/tag/", PageParametrs, SerchString);


        if (BlogClient != null)
        {
            TagsData = await
            BlogClient.GetAsync<FiltredDataModel<TagModel>>(urlString);
            PageParametrs.TotalItems = TagsData.TotalItems;
            System.Console.WriteLine("--->" + urlString);
        }
    }

    private async Task KeyPush(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            await GetFiltredTags();
        }
    }
}
