@model PageParametrs

<ul class="pagination justify-content-center">
    @if (Model.CurrentPage > 1)
    {
        <li id="back_button" class="page-item @DisablePageButton("back_button")">
            <a class="page-link" asp-page="Index" asp-route-currentpage="@(Model.CurrentPage-1)">Назад</a>
        </li>
    }

    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        <li class="page-item @ActiveNumberPage(@i)">
            <a asp-page="Index" asp-route-currentpage="@i" class="page-link">@i</a>
        </li>
    }

    <li class="page-item @DisablePageButton("forward_button")" >
        <a id="forward_button" class="page-link" asp-page="Index" asp-route-currentpage="@(Model.CurrentPage+1)" >Вперед</a>
    </li>
</ul>

@functions {
    private string ActiveNumberPage(int i)
    {
        return Model.CurrentPage == i ? "active" : "";
    }

    private string DisablePageButton(string id)
    {
        if(id == "forward_button")
        {
            return Model.CurrentPage != Model.TotalPages ? "" : "disabled";
        }
        return Model.CurrentPage > 1 ? "" : "disabled";
    }
}