@inject IJSRuntime JSRuntime

<header class="container-fluid border-bottom">
    <div class="container ">
        <nav class="navbar navbar-expand-md navbar-light ">
            <div class="container-fluid">
                <button class="navbar-toggler" @onclick="ToggleMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="@MenuCssClass navbar-collapse">
                    <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                        <li class="nav-item fs-2 me-3">
                            <NavLink href="/admin" Match="NavLinkMatch.All">
                                <i class="bi bi-house"></i> @DisplayMenuName("Главная")
                            </NavLink>
                        </li>
                        <li class="nav-item fs-2 me-3">
                            <NavLink href="/admin/Options" Match="NavLinkMatch.All">
                                <i class="bi bi-gear"></i> @DisplayMenuName("Настройки")
                            </NavLink>
                        </li>
                        <li class="nav-item fs-2 me-3">
                            <NavLink href="/admin/Article/Edit" Match="NavLinkMatch.All">
                                <i class="bi bi-plus-square"></i> @DisplayMenuName("Добавить Статью")
                            </NavLink>

                        </li>
                    </ul>
                    <div class="d-flex">
                        <ul class="navbar-nav me-auto me-auto mb-2 mb-sm-0">
                            <li class="nav-item fs-2 me-3">
                                <NavLink href="/" Match="NavLinkMatch.All">
                                    <i class="bi bi-box-arrow-left"></i> @DisplayMenuName("На Сайт")
                                </NavLink>
                            </li>
                            <li class="nav-item fs-2 me-3">
                                <NavLink href="/admin" Match="NavLinkMatch.All">
                                    <i class="bi bi-box-arrow-right"></i> @DisplayMenuName("Выйти")
                                </NavLink>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>

@code {

    private bool collapseMenu = true;

    private string? MenuCssClass => collapseMenu ? "collapse" : null;

    private void ToggleMenu()
    {
        collapseMenu = !collapseMenu;
    }

    private string DisplayMenuName(string name)
    {
        return collapseMenu ? string.Empty : name;
    }

    private async void BackToMainSite()
    {
        await JSRuntime.InvokeAsync<object>("open","/","_blanck");
    }
}