@page "{slug}"
@model ArticleModel
@{
    ViewData["Title"] = Model.Post?.Title;
    ViewData["TitleLine"] = Model.Post?.Title;
}

<div class="row py-5">
    <div class="content col-lg-9">
        <h2 class="fs-1">@Model.Post?.Title</h2>
        <div id="data-content"class="d-flex justify-content-between py-3">
            <div>Создано: <em>@Model.Post?.DateCreated.ToString("D")</em></div>
            <div>Обновлено: <em>@Model.Post?.DateCreated.ToString("D")</em></div>
        </div>
        <br />
        <div id="content">
            @Html.Raw(Model.Post?.Content)
        </div>
        <hr>
        <div class="tags">
            @foreach (var tag in @Model.Post?.Tags ?? Enumerable.Empty<string>())
            {
                <a asp-page="Index" asp-route-tag="@tag" class="badge bg-success">@tag</a>
            }
        </div>
    </div>
    <!-- side artea-->
    <div class="side-area col-lg-3">
        <h4>Популярные теги</h4>
        @await Component.InvokeAsync("TagsCloud")
    </div>
</div>
