@page
@model IndexModel
@{
    //TODO "{tag?}" не работает админ
    ViewData["Title"] = "WBlog";

    if (Model.Tag == null && Model.Serch == null) ViewData["TitleLine"] = "Главная";
    else if (Model.Tag != null) ViewData["TitleLine"] = Model.Tag;
    else ViewData["TitleLine"] = "Поиск";
}
<!-- main content -->
<div class="row py-5">
    <div class="content col-lg-9">


        <div class="col-sm-3 offset-sm-9">
            <form asp-page="Index" method="get" asp-route-tag="" >
                <select class="form-select form-select-md mb-3" asp-for="DateS"
                    asp-items="Html.GetEnumSelectList<DateState>()">
                </select>
                <button>Сортировать</button>
            </form>
        </div>

        @if (!string.IsNullOrWhiteSpace(Model.Serch))
        {
            <p class="fw-bold h5">Результаты поиска по запросу "@(Model.Serch)"</p>
            <hr />
            @if (Model.PostsData?.Data! == null || !Model.PostsData.Data.Any())
            {
                <p>По вашему запросу ничего не найдено</p>
            }
        }
        @* //TODO? сделать частичный view*@

        @foreach (var post in Model?.PostsData?.Data ?? Enumerable.Empty<PostIndexModel>())
        {
            <article class="post">
                <div class="row ">
                    <div class="row col-md-4">
                        <div class="img-box">
                            <a asp-page="Article" asp-route-slug="@post.Slug">
                                <img class="img-thumbnail" src="images/cat.jpg" alt="pic" style="width: 100%;">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h2>
                            <a asp-page="Article" asp-route-slug="@post.Slug">
                                @post.Title
                            </a>
                        </h2>
                        <div class="post-meta text-end">
                            <span>@post.DateCreated.ToShortDateString()</span>
                        </div>
                        <p>
                            @post.Description
                        </p>
                        <div class="read-more text-end">
                            <a asp-page="Article" asp-route-slug="@post.Slug">
                                Читать дальше...
                            </a>
                        </div>
                    </div>
                </div>
                <hr />
            </article>
        }
        <div>
            <partial name="_PaginationPartial" model="@Model" />
        </div>
    </div>

    <!-- side artea-->
    <div class="side-area col-lg-3">
        <h4>Популярные теги</h4>
        @await Component.InvokeAsync("TagsCloud")
    </div>
</div>
